
<circle-loader *ngIf="elableLoader"></circle-loader>
<mat-error *ngIf="studentApplicationList?.length == 0">
    Not found approved application
</mat-error>
<table class="table" *ngIf="studentApplicationList?.length > 0">
    <thead>
        <tr>
            <th>SL. No.</th>
            <th>App. Type</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of studentApplicationList; let i = index">
            <td>{{i + 1}}</td>
            <td>{{item?.applicationType?.name}}</td>
            <td>
                
                <app-status [item]=item?.applicationStatus></app-status>
            </td>
            <td>
                <a  *ngIf="item?.applicationStatusId == '1' " mat-button color="primary" routerLink="/dashboard/student-application/edit/{{item.id}}">Edit</a>
                <!-- <button *ngIf="item?.applicationStatusId == '2' " mat-button color="primary" routerLink="/dashboard/student-application/print/{{item.id}}">Print</button> -->
                <button mat-button color="primary" routerLink="/dashboard/student-application/print/{{item.id}}">Print</button>
                <button *ngIf="item?.applicationStatusId == '1' " mat-button color="warn" (click)="DeleteDialog(item)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>