<mat-form-field class="input-full-width">
    <input type="text" placeholder="{{placeholder}}"
     aria-label="Number" matInput required="{{GetIsRequired()}}"
      [formControl]="itemControl" [matAutocomplete]="auto">
    <button mat-button *ngIf="itemControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="ResetControl()" >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='setToPrimaryId($event.option.value)'>
      <mat-option *ngFor="let item of searchResult" [value]="item">
        {{ item.name }} <small>[{{item.designation}}]</small>
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
    <!-- <button class="btn btn-success" *ngIf="flag==0 && orderNo.value!=1" (click)="UpdateConcern()">Update Concern</button> orderNumber removed from logic -->
    <button class="btn btn-success" *ngIf="flag==0 && applicationStatusId.value==6" (click)="UpdateConcern()">Update Concern</button>
    <mat-error *ngIf="itemControl.invalid && (itemControl.dirty || itemControl.touched)">
      <small *ngIf="itemControl.errors?.required">Can't be empty!</small>
    </mat-error>