<form [formGroup]="searchForm" fxLayout="column" fxLayoutGap="10px">

    <!-- <mat-form-field>
        <mat-select formControlName="applicationTypeId" placeholder="Application Type">
            <mat-option *ngFor="let item of applicationTypeList | async" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field> -->
    <app-application-type-select formControlName="applicationTypeId"></app-application-type-select>

    <mat-form-field>
        <input matInput formControlName="studentId" placeholder="Student Id">
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="campusId" placeholder="Select Campus">
            <mat-option *ngFor="let campus of  CampusList" [value]="campus.value">
                {{campus.viewValue}}
              
            </mat-option>
        </mat-select>
    </mat-form-field>

    <app-semester-select formControlName="semesterId"></app-semester-select>
    <mat-form-field>
        <input matInput formControlName="appliedOnFrom" [matDatepicker]="picker" placeholder="Applied On From">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="appliedOnTo" [matDatepicker]="picker2" placeholder="Applied On To">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" [disabled]="searchForm.invalid" (click)="Submit()">Submit</button>
        <button mat-raised-button color="warn" (click)="Reset()">Reset</button>
    </div>


    <!-- <pre>
        {{searchForm.value | json}}
    </pre> -->

</form>