<div fxLayout="column" fxLayoutGap="10px">
    <mat-toolbar class="page-toolbar">  
        <mat-toolbar-row>
            <div class="mat-h4">
                <a href="#">Dashboard</a> / <a href="#">Application(s)</a>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row class="page-title">
            Process Protocol List
        </mat-toolbar-row>
    </mat-toolbar>
    <div fxLayout="row" fxLayoutGap="10px" class="layout-gap">
        <app-process-protocol-search (GetValue)="Search($event)"></app-process-protocol-search>
        <div fxLayout="column">
            <mat-error *ngIf="protocolList?.length == 0">
                no data found!!
            </mat-error>
            <app-process-protocol-table *ngIf="protocolList?.length > 0" [listData]="protocolList"></app-process-protocol-table>
        </div>
    </div>
</div>